<h2>Cohorts</h2>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/cohorts">Cohorts</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><button class="btn btn-danger navbar-btn" ng-click="vm.logout()" >Logout</button></li>
    </ul>
  </div>
</nav>
<p>
  This is where the cohorts will be for logged in users.
</p>

<div class="center">
  <select class="middle" ng-model="cohortName" ng-change="vm.getCohort(cohortName)" >
    <option ng-repeat="cohort in vm.cohorts" value="{{cohort.cohort_name}}">{{ cohort.cohort_name }}</option>
  </select>
</div>

<br />

<ul rn-carousel rn-carousel-buffered rn-carousel-index="carouselIndex" rn-carousel-controls rn-carousel-easing="easeInOutSine" rn-carousel-transition="hexagon">
  <li ng-repeat="user in vm.cohort">
    <button class="feat" data-toggle="modal" data-target="#{{user.firstname}}">


    <!-- Modal -->
    <div class="profile">
      <div id="user_{{ user.username }}" ng-click="vm.showProfile(user.username)">
        <img ng-src="/uploads/{{ user.username }}.jpg" alt="Picture"/>
      </div>
      <div  class="middle">
        <p> {{ user.firstname }} {{ user.lastname }}</p>
      </div>
    </div>
    </button>
    <!-- <div class="modal fade" id="{{ user.username }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div> -->
  </li>
</ul>
<br />

<div ng-repeat="user in vm.cohort">
  <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#{{user.firstname}}">
    Launch demo modal
  </button> -->

  <!-- Modal -->
  <div class="modal fade" id="{{user.firstname}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{ user.username }}</h4>
        </div>
        <div class="modal-body">
          <p>{{ user.firstname }} {{ user.lastname }}</p>
          <img ng-src="/uploads/{{ user.username }}.jpg" alt="Picture"/>
          <p>{{ user.personalsummary }}</p>
          <p>{{ user.user_location }}</p>
          <p>{{ user.title }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div rn-carousel-indicators rn-carousel-index="carouselIndex" ng-if="vm.cohort.length > 1" slides="vm.cohort" id="index-bar" class="center"></div>



<!-- Button trigger modal
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

Modal
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->


<!-- <div ng-repeat="user in vm.cohort" class="profile">
  <div>
    <img ng-src="/uploads/{{ user.username }}.jpg" alt="Picture"/>
  </div>
  <p>
    {{ user.firstname}} {{ user.lastname }}
  </p>
  <p>
    {{ user.personalsummary }}
  </p>
  <p>
    {{ user.cohort}} {{ user.title }} {{ user.facts }} {{ user.location }}
  </p>
</div> -->

<!-- <div ng-repeat="user in vm.users" >
  <div>
    <img ng-src="/uploads/{{ user.username }}.jpg" alt="Picture"/>
  </div>
  <p>
    {{ user.firstname}} {{ user.lastname }}
  </p>
  <p>
    {{ user.personalsummary }}
  </p>
  <p>
    {{ user.cohort}} {{ user.title }} {{ user.facts }} {{ user.location }}
  </p>
</div> -->
