<h2>Cohorts</h2>
<nav>
  <div id="navDiv">
    <ul class="navItems">
      <li>
        <div>
          <a class="navbar-brand select" href="/home">Home</a>
          <div class="arrow-up"></div>
          </div>
      </li>
      <li>
        <div>
          <a class="navbar-brand select" href="/cohorts">Cohorts</a>
          <div class="arrow-up see-this"></div>
        </div>
      </li>
      <li>
        <div>
          <a class="navbar-brand select" href="/profile">Profile</a>
          <div class="arrow-up"></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="fixedDiv">
    <div ng-click="vm.profilePage()">
      <div class="arrow-right"></div>
      <span>{{ vm.user_info[0].firstname }}</span>
      <span>
        <div id="smallPic">
          <img ng-src="/uploads/{{ vm.user_info[0].username }}.jpg" alt="Picture"/>
        </div>
      </span>
    </div>
    <button class="btn btn-danger" id="logoutButton" ng-click="vm.logout()">Logout</button>
  </div>
</nav>


<div id="logo">
  <img src="/icons/logo.jpg" alt="">
</div>
<div id="cohortMainDiv" class="padding">
  <!-- <div class="col-xs-offset-2 col-sm-offset-1 col-md-offset-2 col-lg-offset-2 col-xl-offset-2 avatar padding" ng-repeat="person in vm.random">
    <img class="feat" ng-src="/uploads/{{ person }}.jpg" alt="Picture"/>
  </div> -->
  <div id="cohortSelect" class="center">
    <label>Select Cohort</label>
    <br />
    <select ng-model="cohortName" ng-change="vm.getCohort(cohortName)" >
      <option ng-repeat="cohort in vm.cohorts" value="{{cohort.cohort_name}}">{{ cohort.cohort_name }}</option>
    </select>
  </div>
  <br />
  <ul rn-carousel rn-carousel-buffered rn-carousel-index="carouselIndex" rn-carousel-controls rn-carousel-easing="easeInOutSine" rn-carousel-transition="hexagon">
    <li ng-repeat="user in vm.cohort">
      <button id="clickModal" data-toggle="modal" data-target="#{{user.firstname}}">
      <div class="profile">
        <!-- <div id="user_{{ user.username }}"> -->
          <img ng-src="/uploads/{{ user.username }}.jpg" alt="Picture"/>
        <!-- </div> -->
        <div class="middle">
          <p> {{ user.firstname }} {{ user.lastname }}</p>
        </div>
      </div>
      </button>
    </li>
  </ul>
  <br />

  <div rn-carousel-indicators rn-carousel-index="carouselIndex" ng-if="vm.cohort.length > 1" slides="vm.cohort" id="index-bar"></div>
</div>



<div ng-repeat="user in vm.cohort">
  <!-- Modal -->
  <div class="modal fade modalStyle" id="{{user.firstname}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
          <div id="modalIcons">
            <h4 class="modal-title" id="myModalLabel">{{ user.firstname }} {{ user.lastname }}</h4>
            <!-- <span id="myModalLabel">{{ user.firstname }} {{ user.lastname }}</span> -->
            <div id="modalEmail">
              <p>{{ user.facts }}</p>
            </div>
            <img ng-click="vm.github(user.github)" ng-src="/icons/Github-Mark-32px.png" alt="Github Icon"/>
            <img ng-click="vm.linkedin(user.linkedin)" ng-src="/icons/linkedin-logo.png" alt="Linkedin Icon"/>
          </div>
        </div>
        <div id="modalContent" class="modal-body modalInfo">
          <div id="modalLeftSide">
            <!-- <br /> -->
            <div id="modalImg">
              <img ng-src="/uploads/{{ user.username }}.jpg" alt="Picture"/>
            </div>
          </div>
          <div id="modalInfo">
            <p class="colorMe">Summary: </p>
            <p>{{ user.personalsummary }}</p>
            <hr />
            <p class="colorMe">Title: </p>
            <p>{{ user.title }}</p>
            <hr />
            <p class="colorMe">Location: </p>
            <p>{{ user.user_location }}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
