<h2>Profile</h2>
<nav>
  <div id="navDiv">
    <ul class="navItems">
      <li>
        <div>
          <a class="navbar-brand select" href="/home">Home</a>
          <div class="arrow-up"></div>
        </div>
      </li>
      <li>
        <div>
        <a class="navbar-brand select" href="/cohorts">Cohorts</a>
        <div class="arrow-up"></div>
        </div>
      </li>
      <li>
        <div>
          <a class="navbar-brand select" href="/profile">Profile</a>
          <div class="arrow-up see-this"></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="fixedDiv">
    <div ng-click="home.profilePage()">
      <div class="arrow-right"></div>
      <span>{{ profile.user_info[0].firstname }}</span>
      <span>
        <div id="smallPic">
          <img ng-src="/uploads/{{ profile.user_info[0].username }}.jpg" alt="Picture"/>
        </div>
      </span>
    </div>
    <button id="logoutButton" ng-click="profile.logout()">Logout</button>
  </div>
</nav>

<p>
  This is where the user profile will be.
</p>


<div id="profile-div">
  <div class="profile-info">
    <h3>{{ profile.user_info[0].cohort }}</h3>
    <button class="btn-warning" ng-click="profile.edit()">Edit</button>
    <span>{{ profile.user_info[0].firstname }} </span><span>{{ profile.user_info[0].lastname }}</span>
    <br />
    <img class="avatar" ng-src="/uploads/{{ profile.user_info[0].username }}.jpg" alt="Picture"/>
    <form action="/profile/image" method="post" enctype="multipart/form-data">
      <input type="file" name="{{ profile.user_info[0].username }}"/>
      <input type="submit" name="submit" value="submit"/>
    </form>
    <p>{{ profile.user_info[0].personalsummary }}</p>
  </div>
  <div class="see-this profile-facts">
    <p><span>Title: </span>{{ profile.user_info[0].title }}</p>
    <p><span>Location: </span>{{ profile.user_info[0].user_location }}</p>
    <p><span>Facts: </span>{{ profile.user_info[0].facts }}</p>
  </div>
</div>
