<h2>Profile</h2>
<nav>
  <div id="navDiv">
    <ul class="navItems">
      <li>
        <div>
          <a class="navbar-brand select" href="/home">Home</a>
          <div class="arrow-up"></div>
        </div>
      </li>
      <li>
        <div>
        <a class="navbar-brand select" href="/cohorts">Cohorts</a>
        <div class="arrow-up"></div>
        </div>
      </li>
      <li>
        <div>
          <a class="navbar-brand select" href="/profile">Profile</a>
          <div class="arrow-up see-this"></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="fixedDiv">
    <div ng-click="profile.profilePage()">
      <div class="arrow-right"></div>
      <span>{{ profile.user_info[0].firstname }}</span>
      <span>
        <div id="smallPic">
          <img ng-src="/uploads/{{ profile.user_info[0].username }}.jpg" alt="Picture"/>
        </div>
      </span>
    </div>
    <button id="logoutButton" class="btn btn-danger"ng-click="profile.logout()">Logout</button>
  </div>
</nav>



<div class="padding" id="profile-div">
  <div>
    <div class="profile-info">
      <h3>{{ profile.user_info[0].cohort }}</h3>
      <div class="frame">
        <span class="name">{{ profile.user_info[0].firstname }} </span><span class="name">{{ profile.user_info[0].lastname }}</span>
        <br />
        <br />
        <img class="avatar" ng-src="/uploads/{{ profile.user_info[0].username }}.jpg" alt="Picture"/>
        <hr />
        <form id="upload" action="/profile/image" method="post" enctype="multipart/form-data">
          <label class="btn btn-primary" for="profilePicture">Change Profile Picture</label>
          <input id="profilePicture" type="file" name="{{ profile.user_info[0].username }}"/>
          <!-- <input class="btn" type="submit" name="submit" value="submit"/> -->
        </form>
      </div>
      <div id="icons">
        <button id="editButton" class="btn btn-primary" ng-click="profile.edit()">EDIT</button>
        <img ng-click="profile.github()" ng-src="/icons/Github-Mark-32px.png" alt="Github Icon"/>
        <img ng-click="profile.linkedin()" ng-src="/icons/linkedin-logo.png" alt="Linkedin Icon"/>
        <!-- <a ng-href="{{profile.user_info[0].github}}"><img ng-src="/icons/Github-Mark-32px.png" alt="Github Icon"/></a>
        <a ng-href="{{profile.user_info[0].linkedin}} == !null ? {{profile.user_info[0].linkedin}} : /profile"><img ng-src="/icons/linkedin-logo.png" alt="Linkedin Icon"/></a> -->
      </div>
      <div class="profile-facts">
        <p>{{ profile.user_info[0].title }}</p>
        <hr />
        <p>{{ profile.user_info[0].user_location }}</p>
        <hr />
        <p>{{ profile.user_info[0].facts }}</p>
        <hr />
        <p>{{ profile.user_info[0].personalsummary }}</p>
      </div>
    </div>
  </div>
</div>
