<h2>Create Profile</h2>
<nav>
  <div id="navDiv">
    <ul class="navItems">
      <li>
        <div>
          <a class="navbar-brand select" href="/home">Home</a>
          <div class="arrow-up"></div>
        </div>
      </li>
      <li>
        <div>
          <a class="navbar-brand select" href="/cohorts">Cohorts</a>
          <div class="arrow-up"></div>
        </div>
      </li>
      <li>
        <div>
          <a class="navbar-brand select" href="/profile">Profile</a>
          <div class="arrow-up see-this"></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="fixedDiv">
    <div ng-click="profile.profilePage()">
      <div class="arrow-right"></div>
      <span>{{ profile.user_info[0].firstname }}</span>
      <span>
        <div id="smallPic">
          <img ng-src="/uploads/{{ profile.user_info[0].username }}.jpg" alt="Picture"/>
        </div>
      </span>
    </div>
    <button id="logoutButton" class="btn btn-danger"ng-click="profile.logout()">Logout</button>
  </div>
</nav>



<!-- <form action="/" enctype="multipart/form-data" method="post" onsubmit="event.preventDefault()">
<input type="file" name="{{ profile.user_info[0].username }}" multiple>
<input type="submit" value="Upload">
</form> -->

<!-- <form action="/" enctype="multipart/form-data"  method="post">
<input type="file" name="{{ profile.user_info[0].username }}" />
<input type="submit" value="Upload" ng-click="profile.test()"/>
</form>
<img ng-src="{{ profile.user_info[0].image }}" alt="Picture"/> -->

<!-- <img ng-src="/uploads/{{ profile.user_info[0].username }}.jpg" alt="Picture"/>


<form>
<div class="col-sm-4">
<input placeholder="First Name" type="text" value="" ng-model="profile.user_info[0].firstname"/>
<input placeholder="Last Name" type="text" ng-model="profile.user_info[0].lastname"/>
<textarea class="form-control" placeholder="Personal Summary" type="text" ng-model="profile.user_info[0].personalsummary"></textarea>
</div>
<div class="col-sm-4">
<select ng-model="profile.user_info[0].cohort">
<option ng-repeat="cohort in profile.cohorts" value="{{cohort.cohort_name}}">{{ cohort.cohort_name }}</option>
</select>
<input placeholder="Job Title/Headline" type="text" ng-model="profile.user_info[0].title"/>
<input placeholder="Location" type="text" ng-model="profile.user_info[0].user_location"/>
<input placeholder="Fun Fact(s)" type="text" ng-model="profile.user_info[0].facts"/>
<input placeholder="Github URL" type="text" ng-model="profile.user_info[0].github"/>
<input placeholder="LinkedIn URL" type="text" ng-model="profile.user_info[0].linkedin"/>
<div class="btn-group">
<button class="btn-success" ng-click="profile.saveChanges(profile.user_info[0])">Save Changes</button>
<button class="btn-danger" ng-click="profile.cancel()">Cancel</button>
</div>
</div>
</form> -->



<div class="padding" id="profile-div">
  <div>

    <div class="profile-info">
      <form>
        <div class="frame">
          <select id="dropdown" ng-model="profile.user_info[0].cohort">
            <option ng-repeat="cohort in profile.cohorts" value="{{cohort.cohort_name}}">{{ cohort.cohort_name }}</option>
          </select>
          <img id="editImage" class="avatar" ng-src="/uploads/{{ profile.user_info[0].username }}.jpg" alt="Picture"/>
          <div>
            <!-- <label>First Name</label> -->
            <input class="profileInput" placeholder="First Name" type="text" value="" ng-model="profile.user_info[0].firstname"/>
          </div>
          <!-- <div> -->
            <!-- <label>Last Name</label> -->
            <input class="profileInput" placeholder="Last Name" type="text" ng-model="profile.user_info[0].lastname"/>
          <!-- </div> -->
          <!-- <div> -->
            <!-- <label>Job Title/Headline</label> -->
            <input id="jobInput" class="profileInput" placeholder="Job Title/Headline" type="text" ng-model="profile.user_info[0].title"/>
          <!-- </div> -->
          <!-- <div> -->
            <!-- <label id="locationLabel">Location</label> -->
            <input id="locationInput" class="profileInput" placeholder="Location" type="text" ng-model="profile.user_info[0].user_location"/>
          <!-- </div> -->
          <!-- <div> -->
            <!-- <label id="factsLabel">Fun Facts</label> -->
            <input class="profileInput" placeholder="Fun Fact(s)" type="text" ng-model="profile.user_info[0].facts"/>
          <!-- </div> -->
          <div>
            <!-- <label>Github</label> -->
            <input class="profileInput" placeholder="Github URL" type="text" ng-model="profile.user_info[0].github"/>
            <!-- <label>Linkedin</label> -->
            <input class="profileInput" placeholder="LinkedIn URL" type="text" ng-model="profile.user_info[0].linkedin"/>
          </div>
        </div>
        <!-- <div id="editFields"> -->
          <div id="summaryDiv">
            <textarea id="summaryInput" class="form-control" placeholder="Personal Summary" type="text" ng-model="profile.user_info[0].personalsummary"></textarea>
          </div>
          <div id="editButtons" align="left" class="">
            <button class="btn btn-success" ng-click="profile.saveChanges(profile.user_info[0])">Save Changes</button>
            <button class="btn btn-danger" ng-click="profile.cancel()">Cancel</button>
          </div>
        <!-- </div> -->

      </form>
    </div>

  </div>
</div>
