<h2>Create Profile</h2>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/cohorts">Cohorts</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><button class="btn btn-danger navbar-btn" ng-click="profile.logout()" >Logout</button></li>
    </ul>
  </div>
</nav>
<p>
  This is where the user profile will be.
</p>




<form>
  <div class="col-sm-4">
    <input placeholder="First Name" type="text" value="" ng-model="profile.user_info[0].firstname"/>
    <input placeholder="Last Name" type="text" ng-model="profile.user_info[0].lastname"/>
    <textarea class="form-control" placeholder="Personal Summary" type="text" ng-model="profile.user_info[0].personalsummary"></textarea>
  </div>
  <div class="col-sm-4">
    <select ng-model="profile.user_info[0].cohort">
      <option ng-repeat="cohort in profile.cohorts" value="{{cohort.cohort_name}}">{{ cohort.cohort_name }}</option>
    </select>
    <input placeholder="Job Title/Headline" type="text" ng-model="profile.user_info[0].title"/>
    <input placeholder="Location" type="text" ng-model="profile.user_info[0].location_name"/>
    <input placeholder="Fun Fact(s)" type="text" ng-model="profile.user_info[0].facts"/>
    <div class="btn-group">
      <button class="btn-success" ng-click="profile.saveChanges(profile.user_info[0])">Save Changes</button>
      <button class="btn-danger" ng-click="profile.cancel()">Cancel</button>
    </div>
  </div>
</form>
