/* styles */
.container {
  width: 100%%;
}

html {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

img {
  max-height: 250px;
  max-width: 250px;
  border-radius: 50%;
}

/*div {
  display: inline-block;
  margin: 0 auto;
}*/

p {
  text-align: center;
}

/*div[id^=user_] {
  background-color: blue;
  display: hidden;
}*/

/*.fill {
    border: 4px double black;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}*/

.avatar {
  border: 4px double black;
  border-radius: 15%;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.feat {
  margin: 0 auto;
  width: 125px;
  height: 125px;
  animation: fadein 1s;
}

.profile {
  display: inline-block;
  filter: grayscale(100%);
}

.profile:hover {
  filter: none;
}

.red {
  background-color: red;
}

.middle {
  display: block;
  margin: 0 auto;
  position: relative;
}

.center {
  margin: 0 auto;
  /*background-color: teal;*/
  width: 100%;
  text-align: center;
}

#clickModal {
  max-height: 300px;
}

#index-bar {
  margin: 0 auto;
  position: relative;
  width: 100%;
  text-align: center;
}


/*
.div.ng-enter {
    opacity:0;
    -webkit-transition-duration: 1000ms;
}

.div.ng-enter-active {
   -webkit-transform:scale(1);
    opacity:1;
}*/
