/* styles */
.container {
  width: 100%%;
}

html {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

img {
  max-height: 250px;
  max-width: 250px;
  border-radius: 50%;
}

/*div {
  display: inline-block;
  margin: 0 auto;
}*/

p {
  text-align: center;
}

/*div[id^=user_] {
  background-color: blue;
  display: hidden;
}*/

.avatar {
  border: 4px double black;
  border-radius: 15%;
}

.feat {
  margin: 0 auto;
  width: 125px;
  height: 125px;
}

.profile {
  display: inline-block;
  filter: grayscale(100%);
}

.profile:hover {
  filter: none;
}

.red {
  background-color: red;
}

.middle {
  display: block;
  margin: 0 auto;
  position: relative;
}

.center {
  margin: 0 auto;
  /*background-color: teal;*/
  width: 100%;
  text-align: center;
}

#clickModal {
  max-height: 300px;
}

#index-bar {
  margin: 0 auto;
  position: relative;
  width: 100%;
  text-align: center;
}


.animate-enter {
   -webkit-transition: 1s linear all; /* Chrome */
   transition: 1s linear all;
   opacity: 0;
}
.animate-enter.animate-enter-active {
   opacity: 1;
}

/*.animate-enter {
    -webkit-animation: enter 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    animation: enter 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    display: block;
    position: relative;
}
@-webkit-keyframes enter {
    from {
        opacity: 0;
        height: 0px;
        top: -50px;
        left: -5px;
    }
    10% {
        left: 45px;
    }
    20% {
        top: 40px;
    }
    30% {
        left: -35px;
    }
    40% {
        top: -30px;
    }
    50% {
        left: 25px;
    }
    60% {
        top: 20px;
    }
    70% {
        left: -15px;
    }
    80% {
        top: -10px;
    }
    90% {
        left: 5px;
    }
    to {
        opacity: 1;
        height: 30px;
        left: 0px;
        top: 0px;
    }
}
@keyframes enter {
    from {
        opacity: 0;
        height: 0px;
        top: -50px;
        left: -5px;
    }
    10% {
        left: 45px;
    }
    20% {
        top: 40px;
    }
    30% {
        left: -35px;
    }
    40% {
        top: -30px;
    }
    50% {
        left: 25px;
    }
    60% {
        top: 20px;
    }
    70% {
        left: -15px;
    }
    80% {
        top: -10px;
    }
    90% {
        left: 5px;
    }
    to {
        opacity: 1;
        height: 30px;
        left: 0px;
        top: 0px;
    }
}

.animate-leave {
    -webkit-animation: leave 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    animation: leave 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    display: block;
    position: relative;
}
@-webkit-keyframes leave {
    to {
        opacity: 0;
        height: 0px;
        top: -50px;
        left: -5px;
    }
    90% {
        left: 45px;
    }
    80% {
        top: 40px;
    }
    70% {
        left: -35px;
    }
    60% {
        top: -30px;
    }
    50% {
        left: 25px;
    }
    40% {
        top: 20px;
    }
    30% {
        left: -15px;
    }
    20% {
        top: -10px;
    }
    10% {
        left: 5px;
    }
    from {
        opacity: 1;
        height: 30px;
        left: 0px;
        top: 0px;
    }
}
@keyframes leave {
    to {
        opacity: 0;
        height: 0px;
        top: -50px;
        left: -5px;
    }
    90% {
        left: 45px;
    }
    80% {
        top: 40px;
    }
    70% {
        left: -35px;
    }
    60% {
        top: -30px;
    }
    50% {
        left: 25px;
    }
    40% {
        top: 20px;
    }
    30% {
        left: -15px;
    }
    20% {
        top: -10px;
    }
    10% {
        left: 5px;
    }
    from {
        opacity: 1;
        height: 30px;
        left: 0px;
        top: 0px;
    }
}*/
