/* styles */
.container {
  width: 100%%;
}

html {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

img {
  max-height: 300px;
  max-width: 300px;
  border-radius: 50%;
}

/*div {
  display: inline-block;
  margin: 0 auto;
}*/

p {
  text-align: center;
}

/*div[id^=user_] {
  background-color: blue;
  display: hidden;
}*/


.feat {

}

.profile {
  display: inline-block;
  filter: grayscale(100%);
}

.profile:hover {
  filter: none;
}

.red {
  background-color: red;
}

.middle {
  display: block;
  margin: 0 auto;
  position: relative;
}

.center {
  margin: 0 auto;
  /*background-color: teal;*/
  width: 100%;
  text-align: center;
}

#index-bar {
    z-index: 10;
    position: absolute;
}
